@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --claro: #b19d8d;
    --claro2: #e4d5bb;
    --escuro: #3d1300;
    --branco: #ffffff;
    --preto: #000000;
    --vermelho: #ab192d;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: var(--escuro) !important;
}

.logo-navbar{
    margin-left: 5vw;
}

.nav-item{
    color: var(--claro);
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.btn-comprar{
    background-color: var(--claro);
    color: #3d1300;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0%;
    margin-right: 5vw;
}

.btn-comprar:hover{
    background-color: var(--claro);
    color: #3d1300;
}

.navbar-nav{
    margin-right: unset !important;
}

.nav-item-borda{
    border-left: solid 1px var(--claro);
}

#sac{
    margin-left: 1.5rem;
}

#sobre{
    padding-right: 1.5rem;
    border-right: solid 1px var(--claro);
}

.ico-navbar{
    display: flex !important;
    flex-direction: column !important;
    text-decoration: none;
    align-items: center;
}

.ico-navbar span{
    color: var(--branco);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
}

.banner{
    background-color: var(--claro2);
    color: var(--escuro);
    margin: 0;
    padding: 0 3rem;
}

.banner h2{
    font-weight: 700;
    text-transform: uppercase;
}

.banner p{
    font-weight: 700;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.banner a{
    color: var(--vermelho);
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}