@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --claro: #b19d8d;
    --claro2: #e4d5bb;
    --escuro: #3d1300;
    --branco: #ffffff;
    --preto: #000000;
    --vermelho: #ab192d;
    --marrom: #4c2c15;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: var(--escuro) !important;
}

.logo-navbar{
    margin-left: 5vw;
}

.nav-item{
    color: var(--claro);
    font-weight: 700;
    font-size: 14px;
    text-decoration: none;
}

.btn-comprar{
    background-color: var(--claro);
    color: #3d1300;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0%;
    margin-right: 5vw;
}

.btn-comprar:hover{
    background-color: var(--claro);
    color: #3d1300;
}

.navbar-nav{
    margin-right: unset !important;
}

.nav-item-borda{
    border-left: solid 1px var(--claro);
}

#sac{
    margin-left: 1.5rem;
}

#sobre{
    padding-right: 1.5rem;
    border-right: solid 1px var(--claro);
}

.ico-navbar{
    display: flex !important;
    flex-direction: column !important;
    text-decoration: none;
    align-items: center;
}

.ico-navbar span{
    color: var(--branco);
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 2px;
}

.banner{
    background-color: var(--claro2);
    color: var(--escuro);
    margin: 0;
    padding: 0 3rem;
}

.banner h2{
    font-weight: 700;
    text-transform: uppercase;
}

.banner p{
    font-weight: 700;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.banner a{
    color: var(--vermelho);
    font-weight: 600;
    font-size: 13px;
    text-decoration: none;
}

.banner a:hover{
    color: var(--escuro);
}

.txt-1{
    text-transform: uppercase;
    font-size: 30px;
    line-height: 50px;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.txt-1 img{
    width: 80px;
}

.txt-1 span{
    font-weight: 700;
    color: var(--vermelho);
}

.txt-2{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--marrom);
    text-align: center;
    line-height: 1.42857143;
}

.txt-2 span{
    color: var(--vermelho);
}

.btn-1{
    background-color: var(--vermelho);
    color: var(--branco);
    padding: 1rem 3rem;
    font-weight: 500;
    font-size: 14px;
    border-radius: 0%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-1:hover{
    background: #C28A3F;
    color: var(--branco);
}

.txt-3{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 300;
    color: var(--marrom);
    text-align: center;
    line-height: 1.42857143;
}

.txt-3 span{
    color: var(--vermelho);
    font-weight: 700;
}

.beneficios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 220px;
}

.beneficios h2{
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--branco);
}

.beneficios-img{
    max-width: 68px;
}

#beneficio1{
    background-color: var(--escuro);
}

#beneficio2{
    background-color: #967b65;
}

#beneficio3{
    background-color: var(--vermelho);
}

#beneficio4{
    background-color: #c5a981;
}

.txt-4{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--vermelho);
    text-align: center;
    line-height: 1.42857143;
    letter-spacing: 6px;
}

.footer-txt{
    color: #C28A3F;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    width: fit-content;
}

.footer-txt span{
    color: #B18A3F;
    font-weight: 700;
    width: fit-content;
}

.como-participar{
    min-width: 575px;
}

.txt-5{
    font-size: 35px;
    font-weight: 300;
    color: var(--marrom);
    text-align: center;
    line-height: 50px;
}

.txt-5 span{
    color: var(--vermelho);
    font-weight: 700;
    text-transform: uppercase;
}

.txt-6{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    color: var(--marrom);
    text-align: center;
}

.txt-6 span{
    color: var(--escuro);
    font-weight: 700;
    text-transform: uppercase;
}

.txt-7{
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
    color: var(--marrom);
    text-align: center;
}

.txt-7 strong{
    color: var(--vermelho);
    font-weight: 700;
    text-transform: uppercase;
}

.txt-7 span{
    color: var(--escuro);
    font-weight: 700;
    text-transform: uppercase;
}

#explorador{
    background-color: var(--claro2);
    color: var(--escuro);
}

#apaixonado{
    background-color: var(--claro);
    color: var(--branco);
}

#entusiasta{
    background-color: var(--escuro);
    color: var(--branco);
}

.tipo-cliente h3{
    font-size: 22px;
    line-height: 26px;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tipo-cliente h3 strong{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
}

.tc-txt-1{
    font-size: 20px;
    line-height: 1.42857143;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 60px;
}

.tc-txt-1 strong{
    color: var(--vermelho);
    font-weight: 700;
}

.tc-txt-2{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tc-txt-2 strong{
    color: var(--vermelho);
    font-weight: 700;
}

.tc-txt-3{
    font-size: 18px;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 10px;
}

.tc-txt-3 strong{
    color: var(--vermelho);
    font-weight: 700;
}

.tc-txt-3 span{
    color: var(--vermelho);
}

small{
    font-size: 10px;
    font-weight: 500;
    font-style: italic;
    margin-top: 20px;
}

.txt-8{
    margin-top: 85px;
}

.txt-8 h2{
    font-size: 35px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: var(--escuro);
    text-align: center;
    line-height: 1.1;
}

.txt-8 span{
    color: var(--vermelho);
}

.txt-8 h3{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--escuro);
    text-align: center;
    line-height: 1.1;
    margin-top: 50px;
}