@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}

.navbar{
    background-color: #3d1300 !important;
}

.nav-item{
    color: #b19d8d;
    font-weight: 700;
    font-size: 14px;
}

.btn-comprar{
    background-color: #b19d8d;
    color: #3d1300;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0%;
}

.navbar-nav{
    margin-right: unset !important;
}

.nav-item-borda{
    border-left: solid 1px #b19d8d;
}